In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dataset = pd.read_csv('student_scores.csv')

In [ ]:
x = dataset.iloc[:,:-1]
y = dataset.iloc[:,-1]

In [ ]:
print(dataset)

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

In [ ]:
print(x)
print("\n")
print(y)

    Hours
0     2.5
1     5.1
2     3.2
3     8.5
4     3.5
5     1.5
6     9.2
7     5.5
8     8.3
9     2.7
10    7.7
11    5.9
12    4.5
13    3.3
14    1.1
15    8.9
16    2.5
17    1.9
18    6.1
19    7.4
20    2.7
21    4.8
22    3.8
23    6.9
24    7.8


0     21
1     47
2     27
3     75
4     30
5     20
6     88
7     60
8     81
9     25
10    85
11    62
12    41
13    42
14    17
15    95
16    30
17    24
18    67
19    69
20    30
21    54
22    35
23    76
24    86
Name: Scores, dtype: int64

In [ ]:
number_of_features = len(x.columns)

In [ ]:
print(number_of_features)

1

In [ ]:
print(f" range is {min(y),max(y)}")

 range is (17, 95)

# 2

In [ ]:
from sklearn.model_selection import train_test_split
x_90,x_10,y_90,y_10 = train_test_split(x,y,test_size=0.1,random_state= 1)

In [ ]:
print(x_10)
print("\n")
print(x_90)
print("\n")
print(y_10)
print("\n")
print(y_90)

    Hours
14    1.1
13    3.3
17    1.9


    Hours
3     8.5
21    4.8
10    7.7
18    6.1
19    7.4
4     3.5
2     3.2
20    2.7
6     9.2
7     5.5
22    3.8
1     5.1
16    2.5
0     2.5
15    8.9
24    7.8
23    6.9
9     2.7
8     8.3
12    4.5
11    5.9
5     1.5


14    17
13    42
17    24
Name: Scores, dtype: int64


3     75
21    54
10    85
18    67
19    69
4     30
2     27
20    30
6     88
7     60
22    35
1     47
16    30
0     21
15    95
24    86
23    76
9     25
8     81
12    41
11    62
5     20
Name: Scores, dtype: int64

In [ ]:
x_10,x_90,y_10,y_90 = train_test_split(x,y,test_size=0.9,random_state= 1)

In [ ]:
print(x_10)
print("\n")
print(x_90)
print("\n")
print(y_10)
print("\n")
print(y_90)

    Hours
11    5.9
5     1.5


    Hours
14    1.1
13    3.3
17    1.9
3     8.5
21    4.8
10    7.7
18    6.1
19    7.4
4     3.5
2     3.2
20    2.7
6     9.2
7     5.5
22    3.8
1     5.1
16    2.5
0     2.5
15    8.9
24    7.8
23    6.9
9     2.7
8     8.3
12    4.5


11    62
5     20
Name: Scores, dtype: int64


14    17
13    42
17    24
3     75
21    54
10    85
18    67
19    69
4     30
2     27
20    30
6     88
7     60
22    35
1     47
16    30
0     21
15    95
24    86
23    76
9     25
8     81
12    41
Name: Scores, dtype: int64

#3

In [ ]:
col_mean = dataset.mean(axis = 0)
print("column wise mean", "\n", col_mean)

column wise mean
 Hours      5.012
Scores    51.480
dtype: float64

In [ ]:
row_mean = dataset.mean(axis=1)
print("row wise mean", "\n",row_mean)

row wise mean
 0     11.75
1     26.05
2     15.10
3     41.75
4     16.75
5     10.75
6     48.60
7     32.75
8     44.65
9     13.85
10    46.35
11    33.95
12    22.75
13    22.65
14     9.05
15    51.95
16    16.25
17    12.95
18    36.55
19    38.20
20    16.35
21    29.40
22    19.40
23    41.45
24    46.90
dtype: float64

In [ ]:
col_median = dataset.median(axis = 0)
row_median = dataset.median(axis = 1)
print("column wise median", "\n", col_median)
print("\n")
print("row wise median", "\n", row_median)

column wise median
 Hours      4.8
Scores    47.0
dtype: float64


row wise median
 0     11.75
1     26.05
2     15.10
3     41.75
4     16.75
5     10.75
6     48.60
7     32.75
8     44.65
9     13.85
10    46.35
11    33.95
12    22.75
13    22.65
14     9.05
15    51.95
16    16.25
17    12.95
18    36.55
19    38.20
20    16.35
21    29.40
22    19.40
23    41.45
24    46.90
dtype: float64

In [ ]:
col_mode = dataset.mode(axis=0)
row_mode = dataset.mode(axis =1)

print("column wise mode", "\n", col_mode)
print("\n")
print("row wise mode", "\n", row_mode)

column wise mode
    Hours  Scores
0    2.5    30.0
1    2.7     NaN


row wise mode
       0     1
0   2.5  21.0
1   5.1  47.0
2   3.2  27.0
3   8.5  75.0
4   3.5  30.0
5   1.5  20.0
6   9.2  88.0
7   5.5  60.0
8   8.3  81.0
9   2.7  25.0
10  7.7  85.0
11  5.9  62.0
12  4.5  41.0
13  3.3  42.0
14  1.1  17.0
15  8.9  95.0
16  2.5  30.0
17  1.9  24.0
18  6.1  67.0
19  7.4  69.0
20  2.7  30.0
21  4.8  54.0
22  3.8  35.0
23  6.9  76.0
24  7.8  86.0

In [ ]:
col_std = dataset.std(axis = 0)
row_std = dataset.std(axis = 1)

print("column wise standard deviation", "\n", col_std)
print("\n")
print("row wise standard deviation", "\n", row_std)

column wise standard deviation
 Hours      2.525094
Scores    25.286887
dtype: float64


row wise standard deviation
 0     13.081475
1     29.627774
2     16.829141
3     47.022601
4     18.738330
5     13.081475
6     55.720014
7     38.537320
8     51.406663
9     15.768481
10    54.659354
11    39.668690
12    25.809398
13    27.365032
14    11.242998
15    60.881894
16    19.445436
17    15.627060
18    43.062803
19    43.557778
20    19.304015
21    34.789654
22    22.061732
23    48.861079
24    55.295750
dtype: float64

#4

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state = 1)
regressor = LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
print(regressor.intercept_)

-1.5369573315500702

In [ ]:
print(regressor.coef_)

[10.46110829]

In [ ]:
y_pred = regressor.predict(x_test)

In [ ]:
print(y_pred)

[ 9.97026179 32.98470004 18.33914843 87.38246316 48.67636248]